.section1 {
  background-image: url("immaginesfondoheader.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
body,
html {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 131px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  background-color: #fff550;
  width: 1344px;
  height: 83.64px;
  margin-top: 28px;
  margin-right: 48px;
  margin-left: 48px;
  border-radius: 49px;
  margin-bottom: 19.36px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.contenitore {
  width: 1248px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 16.82px;
  margin-bottom: 16.82px;
  margin-left: 48px;
  margin-right: 48px;
}
.containerheader {
  display: flex;
  width: 601px;
  height: 50px;
  gap: 46px;
  align-items: center;
  justify-content: center;
  margin-left: 490px;
  margin-right: 36px;
}
.imglogo {
  width: 154.65px;
  height: 50px;
  bottom: 0;
  left: 0;
}
.home {
  width: 44px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -2%;
  color: #222333;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
.area {
  width: 147px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -2%;
  color: #222333;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
.soluzioni {
  width: 69px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -2%;
  color: #222333;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
.case {
  width: 96px;
  height: 19px;

  opacity: 75%;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -2%;
  color: #222333;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
.contatti {
  width: 61px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -2%;
  color: #222333;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
.sezioneh1 {
  margin-top: 217px;
  margin-left: 124px;
  margin-right: 124px;
  width: 1192px;
  height: 176;
}
h1 {
  color: rgb(255, 255, 255);

  font-size: 6.5rem;
  letter-spacing: -2%;
  line-height: 85%;
  font-family: "Geist", sans-serif;
}

.sezp {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.sinistra {
  width: 700px;
  flex-wrap: wrap;
  font-size: 2rem;
  color: white;
  font-family: "Geist", sans-serif;
  margin-left: 124px;
}
.destra {
  width: 400px;
  height: 66px;
  flex-wrap: wrap;
  font-size: 1.25rem;
  color: white;
  font-family: "Geist", sans-serif;
  margin-right: 50px;
  letter-spacing: -5%;
  margin-top: 20px;
}

@media (max-width: 1023px) {
  .home {
    display: none;
  }
  .area {
    display: none;
  }
  .soluzioni {
    display: none;
  }
  .case {
    display: none;
  }
  .contatti {
    display: none;
  }
}
