body,
html {
  margin: 0;
  padding: 0;
}
.section1 {
  background-image: url("aa6c59592c1065f8934005fd1acf5e5e3c01c9e2\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-height: 800px;
  height: 100vh;
}

.header {
  width: 100%;
  max-height: 131px;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 28px;
  box-sizing: border-box;
}

nav {
  background-color: #fff550;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 83.64px;

  max-width: 1344px;
  width: 100%;
  border-radius: 49px;
  padding-top: 16.82px;
  padding-bottom: 16.82px;
  padding-right: 48px;
  padding-left: 48px;
  box-sizing: border-box;
}
.contenitore {
  max-width: 1248px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-right: 36px;
  box-sizing: border-box;
}
.containerheader {
  display: flex;
  max-width: 601px;
  width: 100%;
  height: 50px;
  gap: 46px;
  align-items: center;
}
.imgcomp {
  width: 21px;
  height: 18px;
  display: none;
}
.imglogo {
  height: 154.65px;
  height: 50px;
}
.home {
  width: 44px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #222333;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
.area {
  width: 147px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #222333;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
.soluzioni {
  width: 69px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #222333;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
.case {
  width: 96px;
  height: 19px;

  opacity: 75%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #222333;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
.contatti {
  width: 61px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #222333;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}

.sezioneh1 {
  height: 176px;
  max-width: 1192px;
  width: 100%;
  margin-top: 217px;
  box-sizing: border-box;

  padding-left: 124px;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 6.5rem;
  letter-spacing: -0.02em;
  line-height: 85%;
  font-family: "Geist", sans-serif;
  font-weight: 600;
}

.sezp {
  display: flex;
  justify-content: space-between;
  margin-top: 78px;
  max-width: 1192px;
  width: 100%;
  height: 128px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}

.sinistra {
  max-width: 716px;
  width: 100%;
  height: 128px;
  font-size: 2rem;
  color: white;
  font-family: "Geist", sans-serif;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0em;
}
.destra {
  max-width: 370px;
  width: 100%;
  font-weight: 400;
  height: 66px;
  font-size: 1.25rem;
  color: white;
  font-family: "Geist", sans-serif;
  letter-spacing: -0.05em;
  line-height: 109%;
}
.sinistra p {
  margin-top: 0;
}
.destra p {
  margin-top: 0;
}
.section2 {
  width: 100%;
  height: 607px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

.sezionegrande {
  max-width: 1192px;
  width: 100%;
  height: 479px;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

.sezionett {
  display: flex;
  flex-direction: column;
  max-width: 1192px;
  width: 100%;
  height: 210px;
  gap: 16px;
  padding-bottom: 36px;
}
.titoletto {
  max-width: 1144px;
  width: 100%;
  height: 14px;
  margin-top: 0;
  margin-left: 0;
}
h4 {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0em;
  font-family: "Geist", sans-serif;
  color: #222333;
}

.titolo {
  max-width: 1144px;
  width: 100%;
  height: 144px;
}
.titolo h2 {
  font-size: 4.5rem;
  color: #222333;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.04em;
  font-family: "Geist", sans-serif;
  margin-top: 0;
}

.sezionesottogrande {
  margin-top: 0;
  max-width: 1192px;
  width: 100%;
  height: 269px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.paragrafolungo {
  margin-top: 0;
  max-width: 1192px;
  height: 176px;
  display: flex;
  padding-right: 120px;
  gap: 56px;
}
.paragrafoprimo {
  max-width: 508px;
  width: 100%;
  height: 176px;
}
.paragrafoprimo p {
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #222333;
}
.paragrafosecondo {
  max-width: 508px;
  width: 100%;
  height: 176px;
}
.paragrafosecondo p {
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #222333;
}
.break-desktop {
  display: block;
}

.bottonegiallo {
  max-width: 1192px;
  width: 100%;
  height: 45px;
}
.bottonegiallo button {
  background-color: #fff550;
  border-radius: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 24px;
  padding-left: 24px;
  box-sizing: border-box;
  max-width: 217px;
  width: 100%;
  height: 45px;
  color: #222333;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  font-family: "Geist", sans-serif;
  white-space: nowrap;
  border: none;
}
.section3 {
  background-image: url("ape.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-height: 720px;
  height: 100vh;
}

.section4 {
  max-width: 1440px;
  width: 100%;
  min-height: 898.75px;
  background-color: #fff550;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sezionecentrale {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 1192px;
  width: 100%;
  height: 778.57px;
}

.sezioneprima {
  max-width: 1192px;
  height: 144px;
  width: 100%;
  margin-top: 0;
  display: flex;
}
.primameta {
  max-width: 965px;
  width: 100%;
  height: 144px;
  margin-top: 0;
}
.primameta h2 {
  margin-top: 0;
  letter-spacing: -0.04em;
  line-height: 100%;
  font-size: 4.5rem;
  color: #222333;
  font-weight: 500;
  font-family: "Geist", sans-serif;
}

.secondameta {
  max-width: 227px;
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.secondameta button {
  width: 203px;
  height: 45px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 24px;
  color: #222333;
  background-color: #fffff2;
  opacity: 75%;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.02em;
  font-size: 1rem;
  white-space: nowrap;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sezioneseconda {
  max-width: 1192px;
  width: 100%;
  height: 128px;
}
.sezioneseconda p {
  color: #222333;
  letter-spacing: 0em;
  font-size: 2em;
  font-weight: 400;
  line-height: 100%;
  font-family: "Geist", sans-serif;
  margin-top: 0;
}
.break {
  display: block;
}

.sezioneterza {
  max-width: 1192px;
  width: 100%;
  height: 410.57px;
  display: flex;
  gap: 20px;
}
.primascatola {
  max-width: 283px;
  width: 100%;
  height: 410.57px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #222333;
}
.sopraps {
  max-width: 283px;
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: column;
  padding-top: 24px;

  gap: 12px;
  align-items: center;
}
.titolopiccolo {
  max-width: 251px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: flex-end;
}
.titolopiccolo h6 {
  color: #fffff2;
  letter-spacing: 0em;
  font-size: 0.875rem;
  line-height: 100%;
  font-weight: 600;
  font-family: "Geist", sans-serif;
  margin: 0;
}
.parapiccolo {
  max-width: 251px;
  height: 44px;
  width: 100%;
}
.parapiccolo p {
  line-height: 109%;
  letter-spacing: -0.05em;
  font-weight: 400;
  font-size: 1.25rem;
  color: #fffff2;
  font-family: "Geist", sans-serif;
  margin-top: 0;
}

.sottops {
  max-width: 283px;
  width: 100%;
  height: 242.57px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sottops img {
  height: 194.57px;
  max-width: 235px;
  width: 100%;
}
.secondascatola {
  background-color: #fffff2;

  max-width: 283px;
  width: 100%;
  height: 410.57px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.secondascatola .titolopiccolo h6 {
  color: #222333;
}
.secondascatola .parapiccolo p {
  color: #222333;
}
.quartascatola {
  background-color: #fffff2;

  max-width: 283px;
  width: 100%;
  height: 410.57px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.quartascatola .titolopiccolo h6 {
  color: #222333;
}
.quartascatola .parapiccolo p {
  color: #222333;
}

.section5 {
  width: 100%;
  height: 312.71px;

  gap: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 96px;
  box-sizing: border-box;
}
.primodiv {
  max-width: 960px;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primodiv h3 {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: #222333;
  font-family: "Geist", sans-serif;
}

.secondodiv {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  width: 100%;
  height: 40.71px;
}

.lazio {
  width: 185.18px;
  height: 39.2px;
}
.roma {
  width: 169.54px;
  height: 39.2px;
}
.aci {
  width: 64.15px;
  height: 35.88px;
}
.zetema {
  width: 112.77px;
  height: 40.71px;
}

.section6 {
  background-image: url("arancione.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-height: 540px;
  height: 100vh;
  padding-top: 120px;
  box-sizing: border-box;

  gap: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sezioncina {
  max-width: 1192px;

  width: 100%;
  height: 158px;
  display: flex;
  flex-direction: column;
}

.diventa {
  max-width: 1192px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.diventa h6 {
  margin: 0;
  line-height: 100%;
  letter-spacing: 0em;
  font-size: 0.875rem;
  color: white;
  font-weight: 600;
  font-family: "Geist", sans-serif;
}

.scopri {
  max-width: 1192px;
  width: 100%;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scopri h2 {
  line-height: 100%;
  letter-spacing: -0.04em;
  font-size: 4rem;
  color: white;
  font-weight: 500;
  font-family: "Geist", sans-serif;
  text-align: center;
}

.section6 button {
  width: 109px;
  height: 45px;
  border-radius: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #fff550;
  color: #222333;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  font-weight: 600;
  border: none;
}
.ultimasezione {
  max-width: 1440px;
  width: 100%;
  height: 584px;
  background-color: #222333;
  display: flex;
  flex-direction: column;
  gap: 96px;
  margin-top: 0;
  align-items: center;
}

.sezioneuno {
  max-width: 1164px;
  width: 100%;
  height: 262px;
  margin-top: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 120px;
}

.sezionesinistra {
  width: 443px;
  height: 102px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}

.sezioneimm img {
  width: 154.65px;
  height: 50px;
}

.sezionsottoimm {
  height: 44px;
  width: 443px;
  justify-content: flex-start;
  align-items: flex-start;
}

.sezionsottoimm h4 {
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: -0.05em;
  line-height: 109%;
  font-family: "Geist";
  text-align: left;
  color: #fffff2;
}

.sezionedestra {
  width: 601px;
  height: 102px;
  gap: 46px;
  display: flex;
  align-items: flex-end;
}

.b {
  color: #fffff2;
}

.sezionedue {
  max-width: 1164px;
  width: 100%;
  height: 106px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-top: 1px solid white;
}

.trecose {
  width: 748px;
  height: 94px;
  gap: 54px;
  display: flex;
}

.primacosa {
  margin-top: 0px;
  margin-left: 0px;
  width: 236px;
  height: 94px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.soprapc {
  height: 12px;
  width: 236px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.soprapc h5 {
  letter-spacing: -0.02em;
  line-height: 100%;
  font-size: 0.75rem;
  color: #fffff2;
  font-weight: 600;
  margin: 0;
}

.sottopc {
  width: 236px;
  height: 74px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.primo {
  height: 22px;
  width: 212px;
  gap: 8px;
  display: flex;
}

.primopartita {
  width: 77px;
  height: 22px;
  margin-left: 0;
}

.primopartita h5 {
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 135%;
  font-size: 1rem;
  font-family: "Geist";
  margin: 0;
  color: #fffff2;
}

.secondapartita {
  width: 127px;
  height: 22px;
}
.secondapartita h5 {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 109%;
  font-family: "Geist";
  margin: 0;
  color: #fffff2;
}

.secondo {
  width: 233px;
  height: 22px;
  gap: 8px;
  display: flex;
}
.terzo {
  width: 236px;
  height: 22px;
  gap: 8px;
  display: flex;
}

.codice {
  width: 107px;
  height: 22px;
  margin-left: 0;
}
.codice h5 {
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 135%;
  font-size: 1rem;
  font-family: "Geist";
  margin: 0;
  color: #fffff2;
  white-space: nowrap;
}

.codiced {
  width: 141px;
  height: 22px;
  margin-left: 0;
}
.codiced h5 {
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 135%;
  font-size: 1rem;
  font-family: "Geist";
  margin: 0;
  color: #fffff2;
  white-space: nowrap;
}
.secondaparty {
  width: 118px;
  height: 22px;
}
.secondaparty h5 {
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 135%;
  font-size: 1rem;
  font-family: "Geist";
  margin: 0;
  color: #fffff2;
  white-space: nowrap;
}
.secondoparti {
  width: 87px;
  height: 22px;
}
.secondoparti h5 {
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 135%;
  font-size: 1rem;
  font-family: "Geist";
  margin: 0;
  color: #fffff2;
  white-space: nowrap;
}

.secondacosa {
  width: 177px;
  height: 94px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.soprasc {
  height: 12px;
  width: 177px;
}
.soprasc h5 {
  font-family: "Geist";
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #fffff2;
  margin: 0;
}

.sottosc {
  width: 177px;
  height: 66px;
}
.sottosc h4 {
  font-weight: 400;
  color: #fffff2;
  letter-spacing: -0.05em;
  line-height: 109%;
  font-size: 1.25rem;
  font-family: "Geist";
  margin: 0;
}

.terzacosa {
  width: 162px;
  height: 94px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.sopratc {
  height: 12px;
  width: 162px;
}
.sopratc h5 {
  font-family: "Geist";
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #fffff2;
  margin: 0;
}

.sottotc {
  height: 48px;
  width: 162px;
}
.prima {
  width: 162px;
  height: 22px;
  display: flex;
  gap: 8px;
}

.primaprima {
  width: 32px;
  height: 22px;
}
.primaprima h5 {
  letter-spacing: -0.02em;
  font-size: 1rem;
  line-height: 135%;
  font-weight: 400;
  color: #fffff2;
  margin: 0;
  font-family: "Geist";
}

.secondaprima {
  width: 122px;
  height: 22px;
}
.secondaprima h5 {
  margin: 0;
  line-height: 109%;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fffff2;
  letter-spacing: -0.05em;
  font-family: "Geist";
}
.secondaa {
  width: 160px;
  height: 22px;
  display: flex;
  gap: 8px;
}

.codic {
  width: 30px;
  height: 22px;
}

.codic h5 {
  letter-spacing: -0.02em;
  font-size: 1rem;
  line-height: 135%;
  font-weight: 400;
  color: #fffff2;
  margin: 0;
  font-family: "Geist";
}
.seco {
  height: 22px;
  width: 122px;
}
.seco h5 {
  margin: 0;
  line-height: 109%;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fffff2;
  letter-spacing: -0.05em;
  font-family: "Geist";
}
@media (max-width: 1023px) {
  .containerheader {
    display: none;
  }
  .imgcomp {
    display: block;
    align-self: center;

    box-sizing: border-box;
  }
  .contenitore {
    padding-right: 0;
  }

  .sezioneh1 {
    height: 122px;
    width: 647px;
    padding-left: 56px;
    margin-top: 246px;
    box-sizing: border-box;
  }

  h1 {
    font-size: 4.5rem;
  }

  .sezp {
    display: flex;
    flex-direction: column;
    max-width: 688px;
    width: 100%;
    height: 165px;
  }
  .sinistra {
    max-width: 688px;
    width: 100%;
    height: 75px;
    line-height: 98%;
    font-size: 1.625rem;
  }
  .section2 {
    height: 717px;
  }

  .sezionegrande {
    max-width: 704px;
    width: 100%;
    height: 589px;
  }

  .sezionett {
    display: flex;
    flex-direction: column;
    max-width: 704px;
    width: 100%;
    height: 188px;
    gap: 16px;
  }
  .titoletto {
    max-width: 704px;
    width: 100%;
    height: 14px;
    margin-top: 0;
    margin-left: 0;
  }
  h4 {
    margin-top: 0;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0em;
    font-family: "Geist", sans-serif;
    color: #222333;
  }

  .titolo {
    max-width: 704px;
    width: 100%;
    height: 122px;
  }
  .titolo h2 {
    font-size: 4rem;
    color: #222333;
    font-weight: 500;
    line-height: 95%;
    letter-spacing: -0.06em;
    font-family: "Geist", sans-serif;
    margin-top: 0;
  }
  .sezionesottogrande {
    margin-top: 0;
    max-width: 704px;
    width: 100%;
    height: 401px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .paragrafolungo {
    margin-top: 0;
    max-width: 704px;
    width: 100%;
    height: 308px;
    display: flex;
    padding-right: 64px;
    gap: 56px;
  }
  .paragrafoprimo {
    max-width: 292px;
    width: 100%;
    height: 264px;
  }
  .paragrafoprimo p {
    font-family: "Geist", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #222333;
  }
  .paragrafosecondo {
    max-width: 292px;
    width: 100%;
    height: 308px;
  }
  .paragrafosecondo p {
    font-family: "Geist", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #222333;
  }
  .bottonegiallo {
    max-width: 704px;
    width: 100%;
    height: 93px;
  }
  .bottonegiallo button {
    background-color: #fff550;
    border-radius: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 24px;
    padding-left: 24px;
    box-sizing: border-box;
    max-width: 217px;
    width: 100%;
    height: 45px;
    color: #222333;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    font-family: "Geist", sans-serif;
    white-space: nowrap;
    border: none;
  }
  .break-desktop {
    display: inline;
  }
  .section4 {
    max-width: 800px;
    width: 100%;
    height: 1449.29px;
    background-color: #fff550;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sezionecentrale {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 704px;
    width: 100%;
    height: 1329.29px;
  }

  .sezioneprima {
    max-width: 704px;
    height: 191px;
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
  .primameta {
    max-width: 704px;
    width: 100%;
    height: 122px;
    margin-top: 0;
  }
  .primameta h2 {
    margin-top: 0;
    letter-spacing: -0.06em;
    line-height: 95%;
    font-size: 4rem;
    color: #222333;
    font-weight: 500;
    font-family: "Geist", sans-serif;
  }

  .secondameta {
    max-width: 704px;
    width: 100%;
    height: 69px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .secondameta button {
    width: 203px;
    height: 45px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 24px;
    color: #222333;
    background-color: #fffff2;
    opacity: 75%;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.02em;
    font-size: 1rem;
    white-space: nowrap;
    border: none;
  }

  .sezioneseconda {
    max-width: 704px;
    width: 100%;
    height: 100px;
  }
  .sezioneseconda p {
    color: #222333;
    letter-spacing: 0em;
    font-size: 1.625em;
    font-weight: 400;
    line-height: 98%;
    font-family: "Geist", sans-serif;
    margin-top: 0;
  }
  .break {
    display: inline;
  }

  .sezioneterza {
    max-width: 704px;
    width: 100%;
    height: 942.29px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .primascatola {
    max-width: 342px;
    width: 100%;
    height: 461.14px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #222333;
  }
  .sopraps {
    max-width: 342px;
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: column;
    padding-top: 24px;

    gap: 12px;
    align-items: center;
  }
  .titolopiccolo {
    max-width: 310px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: flex-end;
  }
  .titolopiccolo h6 {
    color: #fffff2;
    letter-spacing: 0em;
    font-size: 0.875rem;
    line-height: 100%;
    font-weight: 600;
    font-family: "Geist", sans-serif;
    margin: 0;
  }
  .parapiccolo {
    max-width: 310px;
    height: 44px;
    width: 100%;
  }
  .parapiccolo p {
    line-height: 109%;
    letter-spacing: -0.05em;
    font-weight: 400;
    font-size: 1.25rem;
    color: #fffff2;
    font-family: "Geist", sans-serif;
    margin-top: 0;
  }

  .sottops {
    max-width: 342px;
    width: 100%;
    height: 293.14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sottops img {
    height: 245.14px;
    max-width: 294px;
    width: 100%;
  }
  .secondascatola {
    background-color: #fffff2;

    max-width: 342px;
    width: 100%;
    height: 461.14px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .secondascatola .titolopiccolo h6 {
    color: #222333;
  }
  .secondascatola .parapiccolo p {
    color: #222333;
  }
  .quartascatola {
    background-color: #fffff2;

    max-width: 342px;
    width: 100%;
    height: 461.14px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .quartascatola .titolopiccolo h6 {
    color: #222333;
  }
  .quartascatola .parapiccolo p {
    color: #222333;
  }
  .rotto {
    display: block;
  }
  .section5 {
    width: 100%;
    height: 305.71px;

    gap: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
  }
  .primodiv {
    max-width: 960px;
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .primodiv h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 100%;
    color: #222333;
    font-family: "Geist", sans-serif;
  }

  .secondodiv {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    width: 100%;
    height: 40.71px;
  }

  .lazio {
    width: 185.18px;
    height: 39.2px;
  }
  .roma {
    width: 169.54px;
    height: 39.2px;
  }
  .aci {
    width: 64.15px;
    height: 35.88px;
  }
  .zetema {
    width: 112.77px;
    height: 40.71px;
  }
  .section6 {
    background-image: url("arancione.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-height: 425px;
    height: 100vh;
    padding-top: 120px;
    box-sizing: border-box;

    gap: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sezioncina {
    max-width: 704px;
    gap: 16px;

    width: 100%;
    height: 92px;
    display: flex;
    flex-direction: column;
  }

  .diventa {
    max-width: 704px;
    width: 100%;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .diventa h6 {
    margin: 0;
    line-height: 100%;
    letter-spacing: 0em;
    font-size: 0.875rem;
    color: white;
    font-weight: 600;
    font-family: "Geist", sans-serif;
  }

  .scopri {
    max-width: 704px;
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .scopri h2 {
    line-height: 98%;
    letter-spacing: 0em;
    font-size: 2rem;
    color: white;
    font-weight: 500;
    font-family: "Geist", sans-serif;
    text-align: center;
  }

  .section6 button {
    width: 109px;
    height: 45px;
    border-radius: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: #fff550;
    color: #222333;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: -0.02em;
    font-weight: 600;
    border: none;
  }
  .ultimasezione {
    max-width: 800px;
    width: 100%;
    height: 1161px;
    background-color: #222333;
    display: flex;
    flex-direction: column;
    gap: 96px;
    margin-top: 0;
    align-items: center;
  }

  .sezioneuno {
    max-width: 688px;
    width: 100%;
    height: 525px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    gap: 120px;
    padding-top: 56px;
    box-sizing: border-box;
  }

  .sezionesinistra {
    width: 688px;
    height: 102px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .sezioneimm img {
    width: 154.65px;
    height: 50px;
  }

  .sezionsottoimm {
    height: 44px;
    width: 688px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .sezionsottoimm h4 {
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: -0.05em;
    line-height: 109%;
    font-family: "Geist";
    text-align: left;
    color: #fffff2;
  }

  .sezionedestra {
    width: 147px;
    height: 191px;
    gap: 46px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .b {
    color: #fffff2;
  }

  .sezionedue {
    max-width: 688px;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-top: 1px solid white;
  }

  .trecose {
    width: 688;
    height: 408px;
    gap: 54px;
    display: flex;
    flex-direction: column;
  }

  .primacosa {
    margin-top: 0px;
    margin-left: 0px;
    width: 236px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .soprapc {
    height: 12px;
    width: 236px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .soprapc h5 {
    letter-spacing: -0.02em;
    line-height: 100%;
    font-size: 0.75rem;
    color: #fffff2;
    font-weight: 600;
    margin: 0;
  }

  .sottopc {
    width: 236px;
    height: 74px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .primo {
    height: 22px;
    width: 212px;
    gap: 8px;
    display: flex;
  }

  .primopartita {
    width: 77px;
    height: 22px;
    margin-left: 0;
  }

  .primopartita h5 {
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 135%;
    font-size: 1rem;
    font-family: "Geist";
    margin: 0;
    color: #fffff2;
  }

  .secondapartita {
    width: 127px;
    height: 22px;
  }
  .secondapartita h5 {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: -0.05em;
    line-height: 109%;
    font-family: "Geist";
    margin: 0;
    color: #fffff2;
  }

  .secondo {
    width: 233px;
    height: 22px;
    gap: 8px;
    display: flex;
  }
  .terzo {
    width: 236px;
    height: 22px;
    gap: 8px;
    display: flex;
  }

  .codice {
    width: 107px;
    height: 22px;
    margin-left: 0;
  }
  .codice h5 {
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 135%;
    font-size: 1rem;
    font-family: "Geist";
    margin: 0;
    color: #fffff2;
    white-space: nowrap;
  }

  .codiced {
    width: 141px;
    height: 22px;
    margin-left: 0;
  }
  .codiced h5 {
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 135%;
    font-size: 1rem;
    font-family: "Geist";
    margin: 0;
    color: #fffff2;
    white-space: nowrap;
  }
  .secondaparty {
    width: 118px;
    height: 22px;
  }
  .secondaparty h5 {
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 135%;
    font-size: 1rem;
    font-family: "Geist";
    margin: 0;
    color: #fffff2;
    white-space: nowrap;
  }
  .secondoparti {
    width: 87px;
    height: 22px;
  }
  .secondoparti h5 {
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 135%;
    font-size: 1rem;
    font-family: "Geist";
    margin: 0;
    color: #fffff2;
    white-space: nowrap;
  }

  .secondacosa {
    width: 177px;
    height: 100px;
    gap: 8px;
    display: flex;
    flex-direction: column;
  }

  .soprasc {
    height: 12px;
    width: 177px;
  }
  .soprasc h5 {
    font-family: "Geist";
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fffff2;
    margin: 0;
  }

  .sottosc {
    width: 177px;
    height: 66px;
  }
  .sottosc h4 {
    font-weight: 400;
    color: #fffff2;
    letter-spacing: -0.05em;
    line-height: 109%;
    font-size: 1.25rem;
    font-family: "Geist";
    margin: 0;
  }

  .terzacosa {
    width: 162px;
    height: 100px;
    gap: 8px;
    display: flex;
    flex-direction: column;
  }
  .sopratc {
    height: 12px;
    width: 162px;
  }
  .sopratc h5 {
    font-family: "Geist";
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fffff2;
    margin: 0;
  }

  .sottotc {
    height: 48px;
    width: 162px;
  }
  .prima {
    width: 162px;
    height: 22px;
    display: flex;
    gap: 8px;
  }

  .primaprima {
    width: 32px;
    height: 22px;
  }
  .primaprima h5 {
    letter-spacing: -0.02em;
    font-size: 1rem;
    line-height: 135%;
    font-weight: 400;
    color: #fffff2;
    margin: 0;
    font-family: "Geist";
  }

  .secondaprima {
    width: 122px;
    height: 22px;
  }
  .secondaprima h5 {
    margin: 0;
    line-height: 109%;
    font-size: 1.25rem;
    font-weight: 400;
    color: #fffff2;
    letter-spacing: -0.05em;
    font-family: "Geist";
  }
  .secondaa {
    width: 160px;
    height: 22px;
    display: flex;
    gap: 8px;
  }

  .codic {
    width: 30px;
    height: 22px;
  }

  .codic h5 {
    letter-spacing: -0.02em;
    font-size: 1rem;
    line-height: 135%;
    font-weight: 400;
    color: #fffff2;
    margin: 0;
    font-family: "Geist";
  }
  .seco {
    height: 22px;
    width: 122px;
  }
  .seco h5 {
    margin: 0;
    line-height: 109%;
    font-size: 1.25rem;
    font-weight: 400;
    color: #fffff2;
    letter-spacing: -0.05em;
    font-family: "Geist";
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    max-height: 116px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 13px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 13px;
  }
  nav {
    height: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 36px;
    padding-left: 36px;
  }
  .sezioneh1 {
    height: 123px;
    width: 303px;
    padding-left: 36px;
    margin-top: 260px;
    box-sizing: border-box;
  }

  h1 {
    font-size: 3rem;
  }

  .sezp {
    margin-top: 36px;
    max-width: 303px;
    width: 100%;
    height: 195px;
  }

  .sinistra {
    max-width: 303px;
    width: 100%;
    height: 132px;
    font-size: 1.375rem;
    letter-spacing: -0.03em;
  }
  .destra {
    max-width: 303px;
    width: 100%;
    font-weight: 400;
    height: 51px;
    font-size: 1rem;
    color: white;
    font-family: "Geist", sans-serif;
    letter-spacing: -0.05em;
    line-height: 109%;
  }
  .section2 {
    height: 995px;
  }

  .sezionegrande {
    max-width: 327px;
    width: 100%;
    height: 867px;
  }

  .sezionett {
    max-width: 327px;
    width: 100%;
    height: 246px;
  }
  .titoletto {
    max-width: 327px;
    width: 100%;
    height: 10px;
    margin-top: 0;
    margin-left: 0;
  }
  h4 {
    margin-top: 0;
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.02em;
    font-family: "Geist", sans-serif;
    color: #222333;
  }

  .titolo {
    max-width: 327px;
    width: 100%;
    height: 184px;
  }
  .titolo h2 {
    font-size: 3rem;
    color: #222333;
    font-weight: 500;
    line-height: 95%;
    letter-spacing: -0.03em;
    font-family: "Geist", sans-serif;
    margin-top: 0;
  }
  .sezionesottogrande {
    margin-top: 0;
    max-width: 327px;
    width: 100%;
    height: 621px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .paragrafolungo {
    margin-top: 0;
    max-width: 327px;
    width: 100%;
    height: 530px;
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    gap: 24px;
  }
  .paragrafoprimo {
    max-width: 327px;
    width: 100%;
    height: 264px;
  }
  .paragrafoprimo p {
    font-family: "Geist", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #222333;
  }
  .paragrafosecondo {
    max-width: 327px;
    width: 100%;
    height: 242px;
  }
  .paragrafosecondo p {
    font-family: "Geist", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #222333;
  }
  .bottonegiallo {
    max-width: 327px;
    width: 100%;
    height: 91px;
  }
  .bottonegiallo button {
    background-color: #fff550;
    border-radius: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 24px;
    padding-left: 24px;
    box-sizing: border-box;
    max-width: 217px;
    width: 100%;
    height: 45px;
    color: #222333;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    font-family: "Geist", sans-serif;
    white-space: nowrap;
    border: none;
  }
  .break-desktop {
    display: block;
  }

  .section4 {
    max-width: 375px;
    width: 100%;
    height: 1161px;
    background-color: #fff550;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sezionecentrale {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 327px;
    width: 100%;
    height: 1041px;
  }

  .sezioneprima {
    max-width: 327px;
    height: 251px;
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
  .primameta {
    max-width: 327px;
    width: 100%;
    height: 184px;
    margin-top: 0;
  }
  .primameta h2 {
    margin-top: 0;
    letter-spacing: -0.03em;
    line-height: 95%;
    font-size: 3rem;
    color: #222333;
    font-weight: 500;
    font-family: "Geist", sans-serif;
  }

  .secondameta {
    max-width: 327px;
    width: 100%;
    height: 67px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .secondameta button {
    width: 175px;
    height: 43px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 24px;
    color: #222333;
    background-color: #fffff2;
    opacity: 75%;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.02em;
    font-size: 0.875rem;
    white-space: nowrap;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sezioneseconda {
    max-width: 327px;
    width: 100%;
    height: 132px;
  }
  .sezioneseconda p {
    color: #222333;
    letter-spacing: -0.03em;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 100%;
    font-family: "Geist", sans-serif;
    margin-top: 0;
  }
  .break {
    display: inline;
  }

  .sezioneterza {
    max-width: 327px;
    width: 100%;
    height: 562px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .primascatola {
    max-width: 153.5px;
    width: 100%;
    height: 271px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #222333;
    align-items: center;
  }
  .sopraps {
    max-width: 129.5px;
    width: 100%;
    height: 148px;
    display: flex;
    flex-direction: column;
    padding-top: 16px;

    gap: 12px;
    align-items: center;
  }
  .titolopiccolo {
    max-width: 129.5px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: flex-end;
  }
  .titolopiccolo h6 {
    color: #fffff2;
    letter-spacing: -0.02em;
    font-size: 0.625rem;
    line-height: 100%;
    font-weight: 600;
    font-family: "Geist", sans-serif;
    margin: 0;
  }
  .parapiccolo {
    max-width: 129.5px;
    height: 68px;
    width: 100%;
  }
  .parapiccolo p {
    line-height: 109%;
    letter-spacing: -0.05em;
    font-weight: 400;
    font-size: 1rem;
    color: #fffff2;
    font-family: "Geist", sans-serif;
    margin-top: 0;
  }

  .sottops {
    max-width: 129.5px;
    width: 100%;
    height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sottops img {
    height: 95px;
    max-width: 113.5px;
    width: 100%;
  }
  .secondascatola {
    background-color: #fffff2;

    max-width: 153.5px;
    width: 100%;
    height: 271px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
  .secondascatola .titolopiccolo h6 {
    color: #222333;
  }
  .secondascatola .parapiccolo p {
    color: #222333;
  }
  .quartascatola {
    background-color: #fffff2;

    max-width: 153.5px;
    width: 100%;
    height: 271px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
  .quartascatola .titolopiccolo h6 {
    color: #222333;
  }
  .quartascatola .parapiccolo p {
    color: #222333;
  }
  .rotto {
    display: block;
  }
  .section5 {
    width: 100%;
    height: 302.71px;

    gap: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
  }
  .primodiv {
    max-width: 375px;
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .primodiv h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 100%;
    color: #222333;
    font-family: "Geist", sans-serif;
  }

  .secondodiv {
    display: flex;
    flex-wrap: wrap;
    max-width: 375px;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    align-content: space-between;
  }

  .lazio {
    width: 185.18px;
    height: 39.2px;
  }
  .roma {
    width: 169.54px;
    height: 39.2px;
  }
  .aci {
    width: 64.15px;
    height: 35.88px;
  }
  .zetema {
    width: 112.77px;
    height: 40.71px;
  }
  .section6 {
    background-image: url("arancione.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-height: 540px;
    height: 100vh;
    padding-top: 120px;
    box-sizing: border-box;

    gap: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sezioncina {
    max-width: 327px;
    gap: 16px;

    width: 100%;
    height: 78px;
    display: flex;
    flex-direction: column;
  }

  .diventa {
    max-width: 327px;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .diventa h6 {
    margin: 0;
    line-height: 100%;
    letter-spacing: -0.02em;
    font-size: 0.625rem;
    color: white;
    font-weight: 600;
    font-family: "Geist", sans-serif;
  }

  .scopri {
    max-width: 327px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .scopri h2 {
    line-height: 109%;
    letter-spacing: 0em;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    font-family: "Geist", sans-serif;
    text-align: center;
  }

  .section6 button {
    width: 109px;
    height: 45px;
    border-radius: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: #fff550;
    color: #222333;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: -0.02em;
    font-weight: 600;
    border: none;
  }
  .ultimasezione {
    max-width: 375px;
    width: 100%;
    height: 1141px;
    background-color: #222333;
    display: flex;
    flex-direction: column;
    gap: 96px;
    margin-top: 0;
    align-items: center;
  }

  .sezioneuno {
    max-width: 279px;
    width: 100%;
    height: 505px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    gap: 120px;
    padding-top: 56px;
    box-sizing: border-box;
  }

  .sezionesinistra {
    width: 279px;
    height: 92px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .sezioneimm img {
    width: 154.65px;
    height: 50px;
  }

  .sezionsottoimm {
    height: 34px;
    width: 279px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .sezionsottoimm h4 {
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: -0.05em;
    line-height: 109%;
    font-family: "Geist";
    text-align: left;
    color: #fffff2;
  }

  .sezionedestra {
    width: 123px;
    height: 181px;
    gap: 46px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .b {
    color: #fffff2;
  }

  .sezionedue {
    max-width: 279px;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-top: 1px solid white;
  }

  .trecose {
    width: 279;
    height: 408px;
    gap: 54px;
    display: flex;
    flex-direction: column;
  }

  .primacosa {
    margin-top: 0px;
    margin-left: 0px;
    width: 218px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .soprapc {
    height: 12px;
    width: 218px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .soprapc h5 {
    letter-spacing: -0.02em;
    line-height: 100%;
    font-size: 0.75rem;
    color: #fffff2;
    font-weight: 600;
    margin: 0;
  }

  .sottopc {
    width: 218px;
    height: 74px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .primo {
    height: 22px;
    width: 212px;
    gap: 8px;
    display: flex;
  }

  .primopartita {
    width: 77px;
    height: 22px;
    margin-left: 0;
  }

  .primopartita h5 {
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 135%;
    font-size: 1rem;
    font-family: "Geist";
    margin: 0;
    color: #fffff2;
  }

  .secondapartita {
    width: 127px;
    height: 22px;
  }
  .secondapartita h5 {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: -0.05em;
    line-height: 109%;
    font-family: "Geist";
    margin: 0;
    color: #fffff2;
  }

  .secondo {
    width: 233px;
    height: 22px;
    gap: 8px;
    display: flex;
  }
  .terzo {
    width: 236px;
    height: 22px;
    gap: 8px;
    display: flex;
  }

  .codice {
    width: 107px;
    height: 22px;
    margin-left: 0;
  }
  .codice h5 {
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 135%;
    font-size: 1rem;
    font-family: "Geist";
    margin: 0;
    color: #fffff2;
    white-space: nowrap;
  }

  .codiced {
    width: 141px;
    height: 22px;
    margin-left: 0;
  }
  .codiced h5 {
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 135%;
    font-size: 1rem;
    font-family: "Geist";
    margin: 0;
    color: #fffff2;
    white-space: nowrap;
  }
  .secondaparty {
    width: 118px;
    height: 22px;
  }
  .secondaparty h5 {
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 135%;
    font-size: 1rem;
    font-family: "Geist";
    margin: 0;
    color: #fffff2;
    white-space: nowrap;
  }
  .secondoparti {
    width: 87px;
    height: 22px;
  }
  .secondoparti h5 {
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 135%;
    font-size: 1rem;
    font-family: "Geist";
    margin: 0;
    color: #fffff2;
    white-space: nowrap;
  }

  .secondacosa {
    width: 142px;
    height: 100px;
    gap: 8px;
    display: flex;
    flex-direction: column;
  }

  .soprasc {
    height: 12px;
    width: 142px;
  }
  .soprasc h5 {
    font-family: "Geist";
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fffff2;
    margin: 0;
  }

  .sottosc {
    width: 142px;
    height: 51px;
  }
  .sottosc h4 {
    font-weight: 400;
    color: #fffff2;
    letter-spacing: -0.05em;
    line-height: 109%;
    font-size: 1.25rem;
    font-family: "Geist";
    margin: 0;
  }

  .terzacosa {
    width: 138px;
    height: 100px;
    gap: 8px;
    display: flex;
    flex-direction: column;
  }
  .sopratc {
    height: 12px;
    width: 138px;
  }
  .sopratc h5 {
    font-family: "Geist";
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fffff2;
    margin: 0;
  }

  .sottotc {
    height: 48px;
    width: 138px;
  }
  .prima {
    width: 162px;
    height: 22px;
    display: flex;
    gap: 8px;
  }

  .primaprima {
    width: 32px;
    height: 22px;
  }
  .primaprima h5 {
    letter-spacing: -0.02em;
    font-size: 1rem;
    line-height: 135%;
    font-weight: 400;
    color: #fffff2;
    margin: 0;
    font-family: "Geist";
  }

  .secondaprima {
    width: 122px;
    height: 22px;
  }
  .secondaprima h5 {
    margin: 0;
    line-height: 109%;
    font-size: 1.25rem;
    font-weight: 400;
    color: #fffff2;
    letter-spacing: -0.05em;
    font-family: "Geist";
  }
  .secondaa {
    width: 160px;
    height: 22px;
    display: flex;
    gap: 8px;
  }

  .codic {
    width: 30px;
    height: 22px;
  }

  .codic h5 {
    letter-spacing: -0.02em;
    font-size: 1rem;
    line-height: 135%;
    font-weight: 400;
    color: #fffff2;
    margin: 0;
    font-family: "Geist";
  }
  .seco {
    height: 22px;
    width: 122px;
  }
  .seco h5 {
    margin: 0;
    line-height: 109%;
    font-size: 1.25rem;
    font-weight: 400;
    color: #fffff2;
    letter-spacing: -0.05em;
    font-family: "Geist";
  }
}
