body,
html {
  margin: 0;
  padding: 0;
}
.section1 {
  background-image: url("aa6c59592c1065f8934005fd1acf5e5e3c01c9e2\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-height: 800px;
  height: 100vh;
}

.header {
  width: 100%;
  max-height: 131px;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 28px;
  box-sizing: border-box;
}

nav {
  background-color: #fff550;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 83.64px;

  max-width: 1344px;
  width: 100%;
  border-radius: 49px;
  padding-top: 16.82px;
  padding-bottom: 16.82px;
  padding-right: 48px;
  padding-left: 48px;
  box-sizing: border-box;
}
.contenitore {
  max-width: 1248px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-right: 36px;
  box-sizing: border-box;
}
.containerheader {
  display: flex;
  max-width: 601px;
  width: 100%;
  height: 50px;
  gap: 46px;
  align-items: center;
}
.imgcomp {
  width: 21px;
  height: 18px;
  display: none;
}
.imglogo {
  height: 154.65px;
  height: 50px;
}
.home {
  width: 44px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #222333;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
.area {
  width: 147px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #222333;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
.soluzioni {
  width: 69px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #222333;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
.case {
  width: 96px;
  height: 19px;

  opacity: 75%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #222333;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
.contatti {
  width: 61px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #222333;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}

.sezioneh1 {
  height: 176px;
  max-width: 1192px;
  width: 100%;
  margin-top: 217px;
  box-sizing: border-box;

  padding-left: 124px;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 6.5rem;
  letter-spacing: -0.02em;
  line-height: 85%;
  font-family: "Geist", sans-serif;
  font-weight: 600;
}

.sezp {
  display: flex;
  justify-content: space-between;
  margin-top: 78px;
  max-width: 1192px;
  width: 100%;
  height: 128px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}

.sinistra {
  max-width: 716px;
  width: 100%;
  height: 128px;
  font-size: 2rem;
  color: white;
  font-family: "Geist", sans-serif;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0em;
}
.destra {
  max-width: 370px;
  width: 100%;
  font-weight: 400;
  height: 66px;
  font-size: 1.25rem;
  color: white;
  font-family: "Geist", sans-serif;
  letter-spacing: -0.05em;
  line-height: 109%;
}
.sinistra p {
  margin-top: 0;
}
.destra p {
  margin-top: 0;
}
.section2 {
  width: 100%;
  height: 607px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

.sezionegrande {
  max-width: 1192px;
  width: 100%;
  height: 479px;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

.sezionett {
  display: flex;
  flex-direction: column;
  max-width: 1192px;
  width: 100%;
  height: 210px;
  gap: 16px;
  padding-bottom: 36px;
}
.titoletto {
  max-width: 1144px;
  width: 100%;
  height: 14px;
  margin-top: 0;
  margin-left: 0;
}
h4 {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0em;
  font-family: "Geist", sans-serif;
  color: #222333;
}

.titolo {
  max-width: 1144px;
  width: 100%;
  height: 144px;
}
.titolo h2 {
  font-size: 4.5rem;
  color: #222333;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.04em;
  font-family: "Geist", sans-serif;
  margin-top: 0;
}

.sezionesottogrande {
  margin-top: 0;
  max-width: 1192px;
  width: 100%;
  height: 269px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.paragrafolungo {
  margin-top: 0;
  max-width: 1192px;
  height: 176px;
  display: flex;
  padding-right: 120px;
  gap: 56px;
}
.paragrafoprimo {
  max-width: 508px;
  width: 100%;
  height: 176px;
}
.paragrafoprimo p {
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #222333;
}
.paragrafosecondo {
  max-width: 508px;
  width: 100%;
  height: 176px;
}
.paragrafosecondo p {
  font-family: "Geist", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #222333;
}
.break-desktop {
  display: block;
}

.bottonegiallo {
  max-width: 1192px;
  width: 100%;
  height: 45px;
}
.bottonegiallo button {
  background-color: #fff550;
  border-radius: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 24px;
  padding-left: 24px;
  box-sizing: border-box;
  max-width: 217px;
  width: 100%;
  height: 45px;
  color: #222333;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  font-family: "Geist", sans-serif;
  white-space: nowrap;
  border: none;
}

@media (max-width: 1023px) {
  .containerheader {
    display: none;
  }
  .imgcomp {
    display: block;
    align-self: center;

    box-sizing: border-box;
  }
  .contenitore {
    padding-right: 0;
  }

  .sezioneh1 {
    height: 122px;
    width: 647px;
    padding-left: 56px;
    margin-top: 246px;
    box-sizing: border-box;
  }

  h1 {
    font-size: 4.5rem;
  }

  .sezp {
    display: flex;
    flex-direction: column;
    max-width: 688px;
    width: 100%;
    height: 165px;
  }
  .sinistra {
    max-width: 688px;
    width: 100%;
    height: 75px;
    line-height: 98%;
    font-size: 1.625rem;
  }
  .section2 {
    height: 717px;
  }

  .sezionegrande {
    max-width: 704px;
    width: 100%;
    height: 589px;
  }

  .sezionett {
    display: flex;
    flex-direction: column;
    max-width: 704px;
    width: 100%;
    height: 188px;
    gap: 16px;
  }
  .titoletto {
    max-width: 704px;
    width: 100%;
    height: 14px;
    margin-top: 0;
    margin-left: 0;
  }
  h4 {
    margin-top: 0;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0em;
    font-family: "Geist", sans-serif;
    color: #222333;
  }

  .titolo {
    max-width: 704px;
    width: 100%;
    height: 122px;
  }
  .titolo h2 {
    font-size: 4rem;
    color: #222333;
    font-weight: 500;
    line-height: 95%;
    letter-spacing: -0.06em;
    font-family: "Geist", sans-serif;
    margin-top: 0;
  }
  .sezionesottogrande {
    margin-top: 0;
    max-width: 704px;
    width: 100%;
    height: 401px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .paragrafolungo {
    margin-top: 0;
    max-width: 704px;
    width: 100%;
    height: 308px;
    display: flex;
    padding-right: 64px;
    gap: 56px;
  }
  .paragrafoprimo {
    max-width: 292px;
    width: 100%;
    height: 264px;
  }
  .paragrafoprimo p {
    font-family: "Geist", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #222333;
  }
  .paragrafosecondo {
    max-width: 292px;
    width: 100%;
    height: 308px;
  }
  .paragrafosecondo p {
    font-family: "Geist", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #222333;
  }
  .bottonegiallo {
    max-width: 704px;
    width: 100%;
    height: 93px;
  }
  .bottonegiallo button {
    background-color: #fff550;
    border-radius: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 24px;
    padding-left: 24px;
    box-sizing: border-box;
    max-width: 217px;
    width: 100%;
    height: 45px;
    color: #222333;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    font-family: "Geist", sans-serif;
    white-space: nowrap;
    border: none;
  }
  .break-desktop {
    display: inline;
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    max-height: 116px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 13px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 13px;
  }
  nav {
    height: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 36px;
    padding-left: 36px;
  }
  .sezioneh1 {
    height: 123px;
    width: 303px;
    padding-left: 36px;
    margin-top: 260px;
    box-sizing: border-box;
  }

  h1 {
    font-size: 3rem;
  }

  .sezp {
    margin-top: 36px;
    max-width: 303px;
    width: 100%;
    height: 195px;
  }

  .sinistra {
    max-width: 303px;
    width: 100%;
    height: 132px;
    font-size: 1.375rem;
    letter-spacing: -0.03em;
  }
  .destra {
    max-width: 303px;
    width: 100%;
    font-weight: 400;
    height: 51px;
    font-size: 1rem;
    color: white;
    font-family: "Geist", sans-serif;
    letter-spacing: -0.05em;
    line-height: 109%;
  }
  .section2 {
    height: 995px;
  }

  .sezionegrande {
    max-width: 327px;
    width: 100%;
    height: 867px;
  }

  .sezionett {
    max-width: 327px;
    width: 100%;
    height: 246px;
  }
  .titoletto {
    max-width: 327px;
    width: 100%;
    height: 10px;
    margin-top: 0;
    margin-left: 0;
  }
  h4 {
    margin-top: 0;
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.02em;
    font-family: "Geist", sans-serif;
    color: #222333;
  }

  .titolo {
    max-width: 327px;
    width: 100%;
    height: 184px;
  }
  .titolo h2 {
    font-size: 3rem;
    color: #222333;
    font-weight: 500;
    line-height: 95%;
    letter-spacing: -0.03em;
    font-family: "Geist", sans-serif;
    margin-top: 0;
  }
  .sezionesottogrande {
    margin-top: 0;
    max-width: 327px;
    width: 100%;
    height: 621px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .paragrafolungo {
    margin-top: 0;
    max-width: 327px;
    width: 100%;
    height: 530px;
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    gap: 24px;
  }
  .paragrafoprimo {
    max-width: 327px;
    width: 100%;
    height: 264px;
  }
  .paragrafoprimo p {
    font-family: "Geist", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #222333;
  }
  .paragrafosecondo {
    max-width: 327px;
    width: 100%;
    height: 242px;
  }
  .paragrafosecondo p {
    font-family: "Geist", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #222333;
  }
  .bottonegiallo {
    max-width: 327px;
    width: 100%;
    height: 91px;
  }
  .bottonegiallo button {
    background-color: #fff550;
    border-radius: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 24px;
    padding-left: 24px;
    box-sizing: border-box;
    max-width: 217px;
    width: 100%;
    height: 45px;
    color: #222333;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    font-family: "Geist", sans-serif;
    white-space: nowrap;
    border: none;
  }
  .break-desktop {
    display: block;
  }
}
