body,
html {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 131px;
  padding: 28px 48px 19.36px;
  box-sizing: border-box;
  position: fixed;
}

.headermenu {
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: #fff550;
  border-radius: 49px;
  box-sizing: border-box;
  max-width: 1344px;
  width: 100%;
  height: 83.64px;
}
nav {
  max-width: 1248px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-right: 36px;
  box-sizing: border-box;
}
.imglogo {
  width: 154.65px;
  height: 50px;
}
.imghammenu {
  display: none;
}
.containerheader {
  max-width: 601px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 46px;
}

.nav-link {
  opacity: 75%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #222333;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  height: 19px;
}

.hero-section {
  background-image: url("immaginesfondohero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 78px;
  align-items: center;
  padding-top: 348px;
  box-sizing: border-box;
}
.titolo-hero-section {
  height: 176px;
  max-width: 1192px;
  width: 100%;
}
h1 {
  color: rgb(255, 255, 255);
  font-size: 6.5rem;
  letter-spacing: -0.02em;
  line-height: 85%;
  font-family: "Geist", sans-serif;
  font-weight: 600;
  margin: 0;
}
.header-subcontent {
  display: flex;
  justify-content: space-between;
  max-width: 1192px;
  width: 100%;
  height: 128px;
  box-sizing: border-box;
}
.herodescriptions {
  max-width: 716px;
  width: 100%;
  height: 128px;
  font-size: 2rem;
  color: white;
  font-family: "Geist", sans-serif;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0em;
}
.herodetails {
  max-width: 370px;
  width: 100%;
  font-weight: 400;
  height: 66px;
  font-size: 1.25rem;
  color: white;
  font-family: "Geist", sans-serif;
  letter-spacing: -0.05em;
  line-height: 109%;
}
.herodescriptions p {
  margin-top: 0;
}
.herodetails p {
  margin-top: 0;
}

@media (max-width: 1023px) {
  .containerheader {
    display: none;
  }
  .imghammenu {
    display: block;
    align-self: center;
  }
  nav {
    max-width: 608px;
    width: 100%;
    padding-right: 0;
  }
}
.titolo-hero-section {
  height: 122px;
  width: 647px;
}
.hero-section {
  padding-top: 377px;

  box-sizing: border-box;
}

h1 {
  font-size: 4.5rem;
}
