body,
html {
  margin: 0;
  padding: 0;
}
.section1 {
  background-image: url("aa6c59592c1065f8934005fd1acf5e5e3c01c9e2\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-height: 800px;
  height: 100vh;
}

.header {
  width: 100%;
  max-height: 131px;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 28px;
  box-sizing: border-box;
}

nav {
  background-color: #fff550;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 83.64px;

  max-width: 1344px;
  width: 100%;
  border-radius: 49px;
  padding-top: 16.82px;
  padding-bottom: 16.82px;
  padding-right: 48px;
  padding-left: 48px;
  box-sizing: border-box;
}
.contenitore {
  max-width: 1248px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-right: 36px;
  box-sizing: border-box;
}
.containerheader {
  display: flex;
  max-width: 601px;
  width: 100%;
  height: 50px;
  gap: 46px;
  align-items: center;
}
.imgcomp {
  width: 21px;
  height: 18px;
  display: none;
}

@media (max-width: 1023px) {
  .containerheader {
    display: none;
  }
  .imgcomp {
    display: block;
    align-self: center;

    box-sizing: border-box;
  }
  .contenitore {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    max-height: 116px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 13px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 13px;
  }
  nav {
    height: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 36px;
    padding-left: 36px;
  }
}
