.section1 {
  background-image: url("immaginesfondoheader.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  width: 100%;
  padding-top: 28px;
}
body,
html {
  margin: 0;
  height: 100%;
}
.header {
  width: 1440px;
  height: 131px;
  margin: 0 auto;
}
nav {
  background-color: #fff550;
  width: 1250px;
  height: 83.64px;
  margin-left: 48px;
  border-radius: 49px;
  padding: 20px 48px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.contenitore {
  width: 1248px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-right: 36px;
  margin-top: 16px;
}
.containerheader {
  display: flex;
  width: 601px;
  height: 50px;
  gap: 46px;
  align-items: center;
}
.imglogo {
  width: 154.65px;
  height: 50px;
}
.home {
  display: flex;
  width: 44px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -2%;
  color: #222333;
  text-decoration: none;
}
.area {
  display: flex;
  width: 147px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -2%;
  color: #222333;
  text-decoration: none;
}
.soluzioni {
  display: flex;
  width: 69px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -2%;
  color: #222333;
  text-decoration: none;
}
.case {
  width: 96px;
  height: 19px;
  display: flex;
  opacity: 75%;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -2%;
  color: #222333;
  text-decoration: none;
}
.contatti {
  display: flex;
  width: 61px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -2%;
  color: #222333;
  text-decoration: none;
}
.sezioneh1 {
  margin-top: 150px;
  margin-left: 150px;
}
h1 {
  color: rgb(255, 255, 255);
  width: 1192px;
  height: 176px;
  font-size: 104px;
  letter-spacing: -2%;
  line-height: 85%;
  font-family: "Geist", sans-serif;
}

.sezp {
  display: flex;
  justify-content: space-between;
}
.sinistra {
  width: 700px;
  flex-wrap: wrap;
  font-size: 32px;
  color: white;
  font-family: "Geist", sans-serif;
  margin-left: 124px;
}
.destra {
  width: 460px;
  height: 66px;
  flex-wrap: wrap;
  font-size: 20px;
  color: white;
  font-family: "Geist", sans-serif;
  margin-right: 164px;
  letter-spacing: -5%;
}
