header {
  background-image: url("../immaginesfondoheader.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  width: 1440px;
}

.header {
  width: 1440px;
  height: 131px;
  top: 0;
  left: 0;
}
nav {
  background-color: #fff550;
  width: 1344px;
  height: 83.64px;
  margin-top: 28px;
  margin-left: 48px;
  border-radius: 49px;
  padding: 20px 48px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.contenitore {
  width: 1248px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-right: 36px;
  margin-top: 16px;
}
.containerheader {
  display: flex;
  width: 601px;
  height: 50px;
  gap: 46px;
  align-items: center;
}
.imglogo {
  width: 154.65px;
  height: 50px;
}
.home {
  display: flex;
  width: 44px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -2%;
  color: #222333;
  text-decoration: none;
}
.area {
  display: flex;
  width: 147px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -2%;
  color: #222333;
  text-decoration: none;
}
.soluzioni {
  display: flex;
  width: 69px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -2%;
  color: #222333;
  text-decoration: none;
}
.case {
  width: 96px;
  height: 19px;
  display: flex;
  opacity: 75%;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -2%;
  color: #222333;
  text-decoration: none;
}
.contatti {
  display: flex;
  width: 61px;
  height: 19px;
  opacity: 75%;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -2%;
  color: #222333;
  text-decoration: none;
}
